* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.header-hero-wrapper-background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(../../assets/images/noise_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header-hero-wrapper-content {
  max-width: 1200px;
  background: url(../../assets/images/noise_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
}

.menu {
  width: 27.69rem;
  display: flex;
  margin-top: -15px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  color: #f1cdb3;
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 110%;
}

.logo__subtitile {
  margin: 10px;
  color: #ffffff;
  font-family: Arial;
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: 0.08rem;
  margin-left: 4px;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  color: #fafafa;
  font-family: Arial;
  font-size: 0.94rem;
  line-height: 160%;
}

.list__link-active {
  margin-top: 3px;
  border-bottom: 3px solid #f1cdb3;
}

.list__link-disabled {
  color: #cdcdcd;
}

.list__link-disabled:hover {
  cursor: pointer;
  color: #fafafa;
}

.list__link-disabled:active {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

.main {
  display: flex;
  flex-direction: column;
}

.hero__content {
  display: flex;
  padding-top: 49px;
}

.hero__content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 79px;
  padding-right: 42px;
}

.hero__content-section__title {
  font-family: Georgia;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  max-width: 19.375rem;
}

.hero__content-section__subtitle {
  max-width: 28.75rem;
  margin-top: 2.625rem;
  font-family: Arial;
  font-weight: normal;
  font-size: 0.94rem;
  line-height: 160%;
  color: #cdcdcd;
}

.hero__content-section__button {
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  width: 12.94rem;
  height: 52px;
  border: none;
  margin-top: 2.55rem;
}

.hero__content-section__button:hover {
  cursor: pointer;
  background: #fddcc4;
}
.hero__content-section__button:focus {
  outline: none;
}

.hero__content-section__button__text {
  display: flex;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.hero__content-section__button__text__make {
  margin-right: 4.5px;
}
.about {
  max-width: 1200px;
}

.about__content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 82px;
  padding-left: 222px;
}

.about__content__section {
  display: grid;
  margin-left: 121px;
}

.about__content__section__title {
  width: 370px;
  height: 90px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}

.about__content__section__subtitle {
  width: 430px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  margin-top: 25px;
}

.pets {
  width: 100%;
  height: 877px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}

.pets-wrapper {
  width: 1200px;
}

.pets__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pets__content__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 400px;
  padding-bottom: 59px;
  margin-top: -20px;
  margin-left: 2px;
}

.pets__content__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrows {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 23px 0px 0px 17px;
  width: 52px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f6f6f6;
}

.arrow__image {
  margin-top: -2px;
}

.arrows:hover {
  cursor: pointer;
  background: #fddcc4;
}
.arrows:focus {
  outline: none;
}
.card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
  padding: 0 41.5px 30px 41.5px;
  margin: 0 37px;
}

.card__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  letter-spacing: 0.06em;
  margin-left: 2px;
  margin-top: -2px;
}

.card__button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0px 0px 45px;
  width: 187px;
  height: 52px;
  background: #ffffff;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
}

.card__button:hover {
  cursor: pointer;
  background: #fddcc4;
}

.card__button:focus {
  outline: none;
}

.card__button__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  margin: -2px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__button {
  width: 261px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0px 0px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  margin-top: 60px;
}

.pets__button:hover {
  cursor: pointer;
  background: #fddcc4;
}

.pets__button:focus {
  outline: none;
}

.pets__button__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
}

.help {
  width: 100%;
}

.help-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.help-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 64px;
}

.help__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 310px;
}

.help__grid-container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 
}

.help-icons {
  height: 113px;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 19px 25px 36px 35px;
}
.help-icons-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation {
  width: 100%;
  background: #f6f6f6;
}
.donation-wrapper {
  max-width: 1200px;
}
.donation__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 82px 0 101px 222px;
}

.donation__content__section {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
  margin-left: 30px;
}
.donation__content__section__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  width: 300px;
  margin-bottom: 20px;
}
.donation__content__section__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.donation__content__section__button {
  display: flex;
  flex-direction: row;
  background: #f1cdb3;
  border-radius: 9px;
  border: none;
  width: 349px;
  height: 43px;
  padding: 10px 0px 0px 15px;
  margin-bottom: 20px;
}

.donation__content__section__button:focus {
  outline: none;
}

.donation__content__section__button__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
}

.donation__content__section__number {
  margin-left: 15px;
}
.donation__content__section__comment {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b2b2b2;
  width: 380px;
}

.footer {
  width: 100%;
  background: url(../../assets/images/noise_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}
.footer__content {
  max-width: 1200px;
  display: grid;
  grid-gap: 160px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding-top: 41px;
}

.footer__content-section {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.footer__content-section__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 300px;
}
.footer__content-section__subtitle {
  margin-left: 20px;
}

.footer-section-two {
  margin-left: -21px;
}

.footer__content-section__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-top: 39px;
}

.footer-section-two-link {
  margin-top: 32px;
}

@media (max-width: 768px) {
  .header-hero-wrapper-content {
    max-width: 768px;
  }
  .header {
    margin: -30px 30px 0 30px
  }
  .hero__content {
   flex-wrap: wrap;
   justify-content: center;
  }
  .hero__content-section {
    justify-content: center;
    padding-right: 0;
  }
  .hero__content-section__button {
    margin-left: 126px;
  }
  .hero__image {
    width: 569px;
    height: 593px;
    margin-top: 22px;
    margin-left: 143px;
  }
  .about {
    max-width: 768px;
  }
  .about__content  {
    flex-direction: column-reverse;
    padding-left: 0;
  }
  .about__content__section {
    padding-right: 121px; 
    margin-bottom: 80px;
  }
  .pets-wrapper {
   max-width: 768px;
  }
  .card__woody {
    display: none;
  }
  .donation-wrapper {
    max-width: 768px;
  }
  .donation__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 82px 30px 101px 0px;
  }
  .footer__content {
    max-width: 768px;
    display: grid;
    grid-gap: 160px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding-top: 41px;
  }
}