* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: #000000;
  }
  
.day {
  font-size: 36px;
  margin-bottom: 40px;
}

  .time {
    font-size: 100px;
  }
  
  h1 {
    margin-bottom: 30px;
    font-size: 48px;
    margin-top: 50px;

  }
  
  h2 {
    margin-bottom: 10px;
    opacity: 0.8;
  }
  .focus {
    margin-bottom: 70px;
  }
  .quote {
    max-width: 1100px;
    height: 120px;
    font: 20px Georgia, serif;
    margin: 0;
    background: rgb(238, 238, 238, 0.5);
    padding: 10px;
    border-radius: 16px;
  }
  .quote figcaption,
  .quote blockquote {
    margin: 10px;
  }
  .quote figcaption {
    text-align: right;
  }
  .btn {
    position: fixed;
    bottom: 50px;
    left: 30px;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
    background-image: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(.8);
    margin: 10px;
  }
  .btn:hover {
    filter: grayscale(.2);
  }
  .btn:active,
  .btn:focus {
    outline: 0;
  }
  .btn:active{
    transform: scale(1.02)
  }

  @media (max-width: 700px) {
    .time {
      font-size: 96px;
    }
  }