{
  "parser": "babel-eslint",

  "rules": {
    "no-unused-vars": "warn",
    "import/extensions": [2, "ignorePackages", { "js": "always" }],
    "prefer-destructuring": ["error", {"object": false, "array": false}],
    "no-nested-ternary": "off"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ]
}